/* General Styles */
*
{
  margin: 0;
  padding: 0;
  /*border: 0px none #FFFFFF;*/
}
* html ul ul li
{
  margin-bottom: -1px;
}
* html ul ul li a, * html ul li a
{
  height: 100%;
}
/*a
{
  color: #FFFFFF;
  text-decoration: underline;
}
body
{
  margin: 20px;
  padding: 0 0 0 0;
  background: #808080 repeat-y center;
  color: #F0F0F0;
  font-family: 'Lucida Grande' , 'Segoe UI' ,Arial,Helvetica,sans-serif;
  font-size: 85%;
  line-height: 140%;
}*/
code
{
  padding: 0.5em;
  border-top: 1px solid #666666;
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #666666;
  margin: 0.5em 0 0.5em 0;
  display: block;
}
h1
{
  margin: 1em 0 0.5em 0;
  display: block;
  font-weight: normal;
}
h2
{
  border-top: 1px solid #F0F0F0;
  padding-top: 0.5em;
  margin: 1em 0 1em 0;
  display: block;
  font-weight: normal;
}
#content
{
  margin: 30px;
  width: 400px;
  border-top: 1px solid #999999;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
  border-left: 1px solid #999999;
  padding: 20px;
}

/* Styles for AccordionMenu */

#accordionMenu
{
  margin: 0;
  padding: 0;
  width: 200px;
  list-style-type: none;
  line-height: 120%;
}
#accordionMenu .closed
{
  background-image: url(../images/ha-down.gif);
}
#accordionMenu .closed, #accordionMenu .opened
{
  padding-right: 10px;
  background-position: 98% 50%;
  background-repeat: no-repeat;
}
#accordionMenu .header
{
  background-color: #7B7B7B;
}
#accordionMenu .opened
{
  background-image: url(../images/ha-up.gif);
}
#accordionMenu a
{
  display: block;
  font-weight: bold;
  text-decoration: none;
}
#accordionMenu a.hover
{
  border-top: 1px solid #5F5F5F;
  border-bottom: 1px solid #7B7B7B;
  background-color: #7B7B7B;
  color: #FFFFFF;
}
#accordionMenu ul
{
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#accordionMenu li
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #848484;
  color: #FFFFFF;
}
#accordionMenu li a
{
  padding: 2px 10px 2px 4px;
  border-top: 1px solid #9A9A9A;
  border-left: 1px solid #9A9A9A;
  border-right: 1px solid #696969;
  border-bottom: 1px solid #757575;
  background-color: #848484;
  color: #FFFFFF;
}
#accordionMenu li.active a, #accordionMenu li li.active a
{
  border-top: 1px solid #5F5F5F;
  border-bottom: 1px solid #7B7B7B;
  border-left: 1px solid #757575;
  border-right: 1px solid #9A9A9A;
  background-color: #404040;
  color: #FFFFFF;
}
#accordionMenu li.active li a, #accordionMenu li li a
{
  padding: 2px 4px 2px 8px;
  border-top: 1px solid #696969;
  border-left: 1px solid #696969;
  border-right: 1px solid #8A8A8A;
  border-bottom: 1px solid #7B7B7B;
  background-color: #757575;
  color: #FFFFFF;
}


/* Styles for Accordion */
#accordion
{
  margin: 0;
  padding: 0;
  width: 300px;
  list-style-type: none;
  background-color: #FFFFFF;
  color: #000000;
  line-height: 120%;
  height: 300px;
}
#accordion a
{
  display: block;
  font-weight: normal;
  text-decoration: none;
}
#accordion ul
{
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#accordion li
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#accordion li a
{
  width: 285px;
  padding: 5px 0 0 15px;
  display: block;
  color: #000000;
  background-image: url(../images/ha-header.jpg);
  height: 25px;
}
#accordion li a.closed
{
  color: #000000 !important;
  background-image: url(../images/ha-header.jpg) !important;
}
#accordion li.firstitem a.closed
{
  color: #000000 !important;
  background-image: url(../images/ha-header-first.jpg) !important;
}
#accordion li.lastitem a.closed
{
  color: #000000 !important;
  background-image: url(../images/ha-header-last.jpg) !important;
}
#accordion li li
{
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  padding: 0 15px 0 15px;
  height: 175px;
}
#accordion li a.opened
{
  background-image: url(../images/ha-header-active.jpg);
  color: #FFFFFF;
}
#accordion li.firstitem a.opened
{
  background-image: url(../images/ha-header-first-active.jpg);
  color: #FFFFFF;
}
#accordion li.lastitem li
{
  margin-bottom: -4px;
}
#accordion li.lastitem ul
{
  background-image: url(../images/ha-footer.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 4px;
}
